@import "tailwindcss";

@font-face {
  font-family: "Compact";
  src: url("/public/fonts/Compact.woff2") format("woff2"),
    url("/public/fonts/Compact.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Compact";
  src: url("/public/fonts/Compact-Bold.woff2") format("woff2"),
    url("/public/fonts/Compact-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Prestige";
  src: url("/public/fonts/prestige_normal.woff Regular.woff2") format("woff2"),
    url("/public/fonts/prestige_normal.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* Классы для шрифтов */
.font-compact {
  font-family: "Compact", sans-serif;
}

.font-prestige {
  font-family: "Prestige", sans-serif;
}

/* Ensuring smooth scrolling and base styles */
body {
  background-color: #0e0c0a;
  color: #fcfcf5;
}
/* Стили для кастомных стрелок */
.slider-nav-btn {
  width: 48px;
  height: 48px;
  border: 1px solid #4b5563; /* gray-600 */
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  transition: all 0.3s;
  cursor: pointer;
}
.slider-nav-btn:hover,
.slider-nav-btn:not(.swiper-button-disabled):active {
  border-color: #b38b6d;
  color: #b38b6d;
}
.swiper-button-disabled {
  opacity: 0.5;
  cursor: default;
}
